<%= will_paginate objects %>


<% objects.each do |user| %>
    <% if user.approved? %>
      <div class = "row well">
        <div class = "col-md-4">
            <% if user.picture? %>
                <%= image_tag(user.picture.url, size: "60x80", class: "gravatar") %>
            <% else %>
                <%= image_tag("user_pp.jpg", size: "60x80", class: "gravatar") %>
            <% end %>
        
        </div> 
        <div class = "col-md-6 center">
         <p>
           Name: <%= link_to user.last_name + ', ' + user.first_name, user_path(user) %>
         </p>
         
         <p>
             <% if user.institutions.any? %>
              Institution: <%= render user.institutions %>
            <% end %>
         </p>
         
         <p>Status: <%= user.status.name if !user.status.nil? %></p>
       </div>
   

      </div>
      <% end %>

<% end %>