<%= render 'shared/page_title', title: "All Projects" %> <!-- remember to use double quote here for string? -->

<!-- doing tab. Look at index page in recipe -->
<ul class = "nav nav-tabs">
  <li class='active'>
    <%= link_to "Projects","" %>
  </li>
  <li>
    <%= link_to "Users", "" %>
    
  </li>
</ul>



<% @projects.each do |project| %>
  <div class='row'>
    
    <!-- gravatar stuff below -->
    
    <div class="col-lg-8 well">
      <h4 class="project_name"><%= link_to project.name, project_path(project) %></h4>
      <p><b> Location:</b><%= project.country.name %> </p>
      
      <!-- this will go to partial _style.html.erb and _ingredient.html.erb. This work for
      1-to-many or many-to-many associations-->
      <!-- this will loop all the styles with iteration 'style'/ ingredients with iteration 'ingredient' 
      of a recipe -->
      
      <p><b>FROM <%= project.start_date %> TO <%= project.end_date %></b></p>
      
      <p><b> Organizer:</b> <%= project.user.prefix + '.' if project.user.prefix? %> <%= link_to project.user.first_name, "" %> <%= link_to project.user.last_name, "" %> <%= project.user.suffix + '.' if project.user.suffix? %></p>
      
      
      
     
      <% if project.specialties.any? %>
        <p><b>Specialty: </b><%= render project.specialties %></p>
      <% else %>
        <p><b>Specialty: n/a</b>
      <% end %>
      
    
      
      <p>
        <span class='quiet'>
          <small>Posted <%= time_ago_in_words(project.created_at) %> ago. </small>
          
        </span>
      </p>
      
      
       <!-- LIKE BUTTON -->
      <div class="pull-right">
       <!-- without the method: :post, it will go the GET (home action) path. 
        We want to CREATE a like, which is a POST action -->
          <!-- create thumb up thumb down using twitter bootstrap from getbootstrap.com-->
          
          <!-- show comments -->
          No Comment
          
         &nbsp&nbsp&nbsp&nbsp <!-- create 4 spaces -->
          <i class="glyphicon glyphicon-thumbs-up"></i> &nbsp 1
        &nbsp&nbsp&nbsp&nbsp <!-- create 4 spaces -->
        

        
      </div>
      
      
      
    </div>
    
    <!-- for the recipe's picture, we use the gravatar class again since we want the pic to be curvy, like chef's pic -->
    <div class="col-md-4">
      <img class="gravatar" src="https://dreamscopeapp.com/static/images/placeholder.jpeg" width="300" height="230">
    </div>
    
  </div>
  
  <hr/>
  
<% end %>
  
  
