<%= render 'shared/page_title', title: "All Projects" %> <!-- remember to use double quote here for string? -->

<!-- doing tab. Look at index page in project -->
<ul class = "nav nav-tabs">
  <li class='active'>
    <%= link_to "Projects","" %>
  </li>
  <li>
    <%= link_to "Users", "" %>
    
  </li>
</ul>

&nbsp
<hr/>

<%= will_paginate @projects%>

<% @projects.each do |project| %>
  <div class='row'>
    
    <!-- gravatar stuff below -->
    
    <div class="col-lg-8 well">
      <h4 class="project_name"><%= link_to project.name, project_path(project) %></h4>
      <p><b>Location: </b><%= project.country.name %> </p>
      
      <p><b>From <%= project.start_date %> To <%= project.end_date %></b></p>
      
      <p><b>Organizer:</b> <%= project.user.prefix + '.' if project.user.prefix? %> <%= link_to project.user.first_name, "" %> <%= link_to project.user.last_name, "" %> <%= project.user.suffix + '.' if project.user.suffix? %></p>
      
      
      
     
      <% if project.specialties.any? %>
        <p><b>Specialty: </b><%= render project.specialties %></p>
      <% else %>
        <p><b>Specialty: n/a</b>
      <% end %>
      
    
      
      <p>
        <span class='quiet'>
          <small>Posted <%= time_ago_in_words(project.created_at) %> ago. </small>
          
        </span>
      </p>
      
      
       <!-- LIKE BUTTON -->
      <div class="pull-right">
        &nbsp&nbsp&nbsp&nbsp <!-- create 4 spaces -->
         <%= link_to like_project_path(project), method: :post do %>
            <i class="glyphicon glyphicon-thumbs-up"></i> 
        <% end %>
        &nbsp <%= project.like_count %>
        &nbsp&nbsp&nbsp&nbsp <!-- create 4 spaces -->
      </div>
      
      
      
    </div>
    
    <!-- for the project's picture, we use the gravatar class again since we want the pic to be curvy, like user's pic -->
    <div class="col-md-4">
      <% if project.picture? %>
        <%= image_tag(project.picture.url, size: "300x230", class: "gravatar") %>
      <% else %>
        <img class="gravatar" src="http://houstonglobalhealth.org/wp-content/uploads/2013/10/Standard-Swatches_Icon-Standard-Swatches.png" width="300" height="230">
      <% end %>
    </div>
    
  </div>
  
  <hr class = "thick_divider"/>
  
<% end %>
  
  
