<header class = "navbar navbar-fixed-top navbar-default">
    <div class="container">
      <%= link_to image_tag("HGH.png"), root_path, id: "logo"  %>
      
      
      

        <% if logged_in? %>
        

          <div class="user_account">
          <ul>
            <li class="dropdown">
              <%= link_to '#', class: "btn btn-default btn-danger dropdown-toggle", "data-toggle" => "dropdown" do %>
                <%= current_user.first_name + " " + current_user.last_name %> 
                <% if current_user.admin? %>
                  (admin)
                <% end %>
                <b class="caret"></b>
              <% end %>
              <ul class="dropdown-menu">
                <li><%= link_to "View Your Profile", user_path(current_user) %> </li>
                <li><%= link_to "Edit Your Profile", edit_user_path(current_user) %></li>
                <li><%= link_to "View Pending Users", pending_users_path if current_user.admin? %></li>
                <li><%= link_to "View Pending Projects", pending_projects_path if current_user.admin? %></li>
                <li><%= link_to "Add Specialty", new_specialty_path if current_user.admin? %></li>
                <li><%= link_to "Add Institution (not for bulk adding)", new_institution_path if current_user.admin? %></li>
                <li class = "divider"></li>
                <li><%= link_to "Log out", logout_path %> </li>
              </ul>
            </li>
          </ul>
        </div>
        
        <div class="nav_item">
          <%= link_to "New Project", new_project_path, class: "btn btn-default btn-warning" %>
        </div>
        <% else %>
        
        <div class="user_account">
          <%= link_to "Log In / Sign Up", login_path, class: "btn btn-default btn-success" %>
        </div>
        <% end %>
        

   </div>
</header>