<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Houston Global Health Collaborative</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyDK3YlOmlCig2MDsBbqufFO31izC0YH_90"></script>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/navigation' %>
  <div class="container">

    <%= render 'layouts/messages' %>
    <!-- doing tab. Look at index page in project -->
  <ul class = "nav nav-tabs hidden-xs">

    <li>
      <%= link_to "Home",root_path %>
    </li>
    <li>
      <%= link_to "Projects",projects_path %>
    </li>
    <li>
      <%= link_to "Users", users_path %>

    </li>
        <%= yield(:search) %>
  </ul>


    <%= yield %>
    <%= render 'layouts/footer' %>
  </div>

</body>
</html>
